# dependencies
node_modules/
frontend/frontend/node_modules/

# builds
dist/
build/

# expo
.expo/

# env
.env

# logs
*.log

# OS
.DS_Store

# backend virtual env (if any)
venv/
.venv/
__pycache__/

# local databases
*.db
*.sqlite3